.football {
  &__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #000;
    text-align: center;
  }
  &__field {
    border: 2px solid #000;
    border-radius: 37px;
    width: 720px;
    height: 220px;
    background: #5abb58;
  }
}
